@font-face {
  font-family: 'effra_lightregular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/effralight-regular-webfont.woff2') format('woff2'),
  url('../../assets/fonts/effralight-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'effraregular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/effra-regular_2-webfont.woff2') format('woff2'),
  url('../../assets/fonts/effra-regular_2-webfont.woff') format('woff');
}