// icons
.icons-list {
  .icon {
    &.icon--electrical {

    }
    &.icon--assesment {
      img {
        max-width: 35px !important;
        @include mq($max-width: 900px) {
          max-width: 30px !important;
        }
      }
    }
    &.icon--energy {
      img {
        max-width: 35px !important;
        @include mq($max-width: 900px) {
          max-width: 30px !important;
        }
      }
    }
    &.icon--mechanical {

    }
  }
}