// PROJECTS
.projects {
  padding: 55px 0;
  .project-content {
    color: $gray;
    font-size: 16px;
    line-height: 18px;
    margin: 30px 15px 45px;
  }
  .project-title, .project-value {
    color: $blue2;
    display: block;
    line-height: 16px;
  }
  ul {
    margin: 65px 0 0;
    @include mq($max-width: 900px) {
      margin: 25px 0 0;
    }
  }
  span, p {
    margin: 0 0 13px;
  }
}